body { 
    color: rgb(83 ,75, 75);
}

header {
    margin-bottom: 64px;
}

h1 {
    font-size: 48px;
    color: rgb(71, 62, 62);

/*  margin은 각 요소들의 거리를 줄여주는 역할 */
    margin: 0;
    
}

h2 {
    color: rgb(78, 13, 5);
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Fira sans', sans-serif;
    
}

/* main p 같은 형태를 자손 결합자라고 한다 */
 main p {
    margin: 12px;
    color: rgb(71, 29, 22);
}
 
 #description {
    margin : 12px 0;
   
} 

/* 헤더 요소의 자손인 p의 요소에 기능을 적용시킨다는 것. 특정 요소에 기능을 추가할때 id를 쓰든 이렇게 header p를 쓰든어떤 방법을 사용하든 상관없다*/
/* header p {
    margin-bottom: 36px;
} */


a {
    padding: 12px 48px;
    font-family: 'Fira sans',sans-serif;
    text-decoration: none;
    color: rgb(167, 1, 78);
    background-color: rgb(167, 1, 78);
    color: white;
    border-radius: 4px;

    /* border는 테두리 선을 꾸미는 기능이다. */
    border: 1px solid rgb(167, 1  , 78);
    font-size: 24px;

    margin: 30px 12px;
    display: inline-block;
    margin: 0;
}

a:hover {
    background-color: rgb(180, 12, 90);
   
}


ol {
    list-style: none;
    width: 500px;

    /* 이렇게 여백 속성의 왼쪽과 오른쪽에 auto 값을 사용하면 요소를 중앙에 배치 가능함.  */
    margin: 36px auto 0 auto;

    padding: 0;
    
}



 li { 
    /* 리스트의 목록 번호를 없애주려면 none, 네모로 보이고 싶다면 square */
    /* list-style: none; */ 
    padding: 16px;
    list-style: none;
    list-style: square;
    margin: 32px;
    background-color: rgb(233, 136, 124);
    border-radius: 6px;

    /* 요소에 그림자 효과를 넣어줌 */
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
} 

/* 클래스 */
.highlight-goal {
    background-color: rgb(226, 115, 101);
}
